*{ 
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 16px; /*la unidad rem es relativa a esta cantidad de pixeles, que por defecto suele ser 16*/
}

/*Estilos generales - uso mobile first*/
body{
    background-color: rgb(26, 96, 150);    
    display: flex; /*el body es un contenedor compuesto por el header, main y footer*/
    flex-direction: column; /*los elementos hijos se organizarán en una sola columna*/
} 

header{
    margin-bottom: 10px;
}

.positionImg{
    position: relative;
    left: 7px;
}

.positionApoyo{
    position: relative;
    top: 8px;
}

main{
    padding: 0% 1%; 
    display: grid;
    grid-template-areas:  
    "seccionPrincipal"
    "aside";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr; /*quiero que el main sea una columna con una fila (para formato PC esto va a cambiar)*/
}

.seccionPrincipal{
    margin-bottom: 5px;
    padding-bottom: 14px;
    border-bottom: 2px dashed rgb(0, 0, 0);
}

h1, h2, h3, h4{
    text-align: center;
    margin: 0px;
    color: rgb(0, 0, 0);
}

.articuloNuevo{/*este estilo de diseño lo uso como modelo para diseñar cajas en todas las páginas*/
    padding: 2%;
    margin-top: 1rem;
    display: grid;
    grid-template-areas:  
    "tituloArticulo     imagen"
    "subtituloArticulo  imagen";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
}

.articuloNuevo h2{
    grid-area: tituloArticulo;
    font-size: 1rem;
}

.articuloNuevo h2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.articuloNuevo h3{
    grid-area: subtituloArticulo;
    font-size: 0.9rem;
}

.articuloNuevo figure{
    grid-area: imagen;
    margin: 0px;
}

.articuloNuevo figure img{
    width: 100%;
    height: 100%;
}

.seccionPrincipal div p{
    margin-top: 10px;
    text-align: justify;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.linksRecomendaciones{ /*similar a las propiedades de articuloNuevo*/
    padding: 2%;
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.linksRecomendaciones h2{
    font-size: 1rem;
    grid-column: 1 / span 2;
}

.linksRecomendaciones ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.linksRecomendaciones ul li{
    list-style-type: none;
    text-align: center;
}

.linksRecomendaciones ul li h3{
    font-size: 1.2rem;
}

.linksRecomendaciones ul li h3 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.linksRecomendaciones figure img{
    width: 100%;
}

aside{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.articuloAzar{
    margin-top: 1rem;
    padding: 10px;
    background-color: lightgrey;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
}

.articuloAzar h3{
    font-size: 1.25rem;
}

.articuloAzar h3 a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.articuloAzar h4{
    font-size: 1rem;
}

#contacto article{
    margin-top: 1rem;
}

#contacto article form{ /*inspirado en las propiedades de articuloNuevo*/
    padding: 0px 10px;
    background-color: rgb(211, 211, 211);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    height: 75vh;                 
}

#contacto article form *{
    font-size: 0.8rem;
}

#contacto article form div input{
    padding: 0.1rem;
    width: 75%;
}

#contacto article form textarea{
    padding: 0.1rem;
}

.container div div textarea{
    display: block;
    width: 100%;
    height: 175px;
}

footer{
    display: flex;
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    footer div a p{
        display: none; /*quito el texto del footer para formato mobile*/
    }
}

/*Formato tablet*/
/*En este formato quiero que el tamaño de los objetos en el header y las letras se agranden un poco. También el footer cambia de forma*/
@media screen and (min-width: 768px){
    .articuloNuevo h2{
        font-size: 1.5rem;
    }

    .articuloNuevo h3{
        font-size: 1.25rem;
    }

    .linksRecomendaciones h2{
        font-size: 1.74rem;
    }

    .linksRecomendaciones ul li h3{
        font-size: 1.5rem;
    }

    aside h2{
        font-size: 2rem;
    }

    .articuloAzar h3{
        font-size: 1.4rem;
    }
        
    .articuloAzar h4{
        font-size: 1.2rem;
    }

    #contacto article form *{
        font-size: 1rem;
    }

    footer{
        width: 100%;
        justify-content: space-evenly;
    }

    footer div a{
        margin: 5px 0px;
        padding: 5px;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 5px;
    }

    footer div a p{
        display: inline-block; /*el texto en el footer deja de estar oculto*/
        font-weight: bold;
        color: rgb(0, 0, 0);
        margin: 0px;
    }
}

/*Formato PC*/
/*En este formato quiero que el nav esté visible en todo momento, que el aside se coloque a la derecha, y que los tamaños de letra vuelvan agrandarse un poco*/
@media screen and (min-width: 1200px){
    #navbarNav ul li{
        padding: 0px 10px;
    }

    #navbarNav ul li a{
        border-radius: 5px;
    }

    .seleccion{
        background-color: rgb(0, 0, 255);
    }

    .hoverr{
        transition: all 0.5s;
    }

    .hoverr:hover{
        background-color: rgb(86, 86, 139); 
    }

    .hoverr:active{ /*cambié focus por active*/
        background-color: rgb(0, 200, 200);
        color: black;
    }

    main{
        grid-template-areas:  
        "seccionPrincipal" "aside"; /*reorganizo el main*/
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
    }

    .seccionPrincipal{
        padding-right: 17px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: 0px dashed rgb(0, 0, 0);
        width: 100%;
        border-right: 2px dashed rgb(0, 0, 0);
    }

    .seccionPrincipal div p{
        font-size: 1.3rem;
    }
    
    .articuloNuevo h2{
        font-size: 2rem;  
    }
    
    .articuloNuevo h2:hover{
        text-decoration: underline 2px;
    }

    .articuloAzar{
        transition: all 0.5s;
    }

    .articuloAzar:hover{
        transform: scale(1.1); /*cuando paso el mouse por arriba se agranda la etiqueta con clase "articuloAzar"*/
    }

    .articuloAzar h3:hover{
        text-decoration: underline 2px;
    }

    .linksRecomendaciones{ /*le quito un poco de espacio a los h2 de "linksRecomendaciones"*/
        grid-template-rows: 1fr 4fr;
    }

    .linksRecomendaciones h2{
        font-size: 2.33rem;
    }

    .linksRecomendaciones ul li h3{
        font-size: 2.1rem;
    }

    .linksRecomendaciones ul li h3 a:hover{
        text-decoration: underline 2px;
    }

    aside{
        justify-content: space-between;
        width: 100%;
    }
}