*{ 
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 16px; /*la unidad rem es relativa a esta cantidad de pixeles, que por defecto suele ser 16*/

    body{
        display: flex; /*el body es un contenedor compuesto por el header, main y footer*/
        flex-direction: column; /*los elementos hijos se organizarán en una sola columna*/
        background-color:  rgb(45, 105, 150);
    }
}

h1, h2, h3, h4{ /*Defino estos h acá ya que quiero que todos los h que uso (de 1 a 4) inicien con estas propiedades*/
    text-align: center;
    margin: 0px;
    color: rgb(0, 0, 0);
}

@media screen and (min-width: 1200px){ /*Defino estos estilos acá para minimizar espacio ya que "seleccion" y "hoverr" estarán en varias etiquetas distintas*/
    .seleccion{
        background-color: rgb(0, 0, 255);
    }

    .hoverr{
        transition: all 0.5s;
        &:hover{
            background-color: rgb(86, 86, 139); 
        }

        &:active{ /*cambié focus por active*/
            background-color: rgb(0, 200, 200);
            color: black;
        }
    }
}

/*importo "base" que actualmente solo la uso para definir variables*/
@import 'base/base'; 

/*importo las propiedades generales del header, main y footer*/
@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';

/*importo las propiedades personalizadas de las secciones recomendaciones y contacto*/
@import 'partials/recomendaciones';
@import 'partials/contacto';