main{
    .seccionPrincipal{
        div{
            p{
                text-align: justify;
                font-weight: bold;
                font-size: 1.25rem;
                color: black;
            }
        }

        .linksRecomendaciones{
            @extend .aspectoCajas;
            display: grid;
            grid-template-rows: 1fr 3fr;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;
        
            h2{
                font-size: 1rem;
                grid-column: 1 / span 2;
            
                @media screen and (min-width: 768px){
                    font-size: 1.74rem;
                }
            
                @media screen and (min-width: 1200px){ 
                    font-size: 2.33rem;
                }
            }
    
            ul{
                margin: 0px;
                padding: 0px;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-evenly;
            
                li{
                    list-style-type: none;
                    text-align: center;
                
                    h3{
                        font-size: 1.2rem;
                    
                        a{
                            text-decoration: none;
                            color: rgb(0, 0, 0);
                        
                            @media screen and (min-width: 1200px){ 
                                &:hover{
                                    text-decoration: underline 2px;
                                }
                            }
                        }
                    
                        @media screen and (min-width: 768px){
                            font-size: 1.5rem;
                        }
                    
                        @media screen and (min-width: 1200px){ 
                            font-size: 2.1rem;                   
                        }
                    }
                }
            }
    
            figure{
                img{
                    width: 100%;
                }
            }
        
            @media screen and (min-width: 1200px){ 
                grid-template-rows: 1fr 4fr; /*le quito un poco de espacio a los h2 de "linksRecomendaciones"*/
            }
        }
    }
}


