/*color de fondo para el header y footer*/
$bg-color-header-footer: rgb(13, 110, 253);

/*color de fondo para el contenido de las páginas*/
$bg-color-articulos: rgb(211, 211, 211);

/*color de los bordes del contenido de las páginas y de los elementos del footer*/
$color-borde: rgb(0, 0, 0)